<html>
    <head>
        <title>Christopherland</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        {% assets "index_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>

    <body>
        <header id="header">
            <h1>Welcome to Christopherland</h1>
        </header>

        <nav id="nav">
            <li>Contact</li>
            <li>About</li>
        </nav>

        <section id="intro">
            Currently this web site is still being built.
        </section>

        <section id="games">
            <h2>Games</h2>
            <div id="snake">
                <a href="{{url_for('snake')}}">
                    <h3>Snake</h3>
                    <img src="https://hackster.imgix.net/uploads/attachments/431013/snake_dvlfwCony2.png?auto=compress&w=900&h=675&fit=min&fm=jpg" alt="asidetitle">
                </a>
            </div>

            <div id = "tictactoe">
                <a href="tictactoe.html"><h3 >Tic tac toe</h3></a>
            </div>
            
        </section>

        <aside id = "aside">
            <h3 id="asidetitle">Information</h3>
            Here will go a description of the games and relevant information
        </aside>

        <footer id = "footer">
            Hope you have enjoyed your experience here. Please let five us some feedback
        </footer>

        
    </body>
</html>